@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Candal&family=Corben:wght@400;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background: linear-gradient(120deg, #000000, #3b1c58); /* Black to dark purple gradient */
  color: white; /* Text color */
  font-family: "Corben", serif; /* Optional: Set a font family */
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
}

.navbar {
  background: linear-gradient(120deg, #000000, #3b1c58); /* Black to dark purple gradient */
}

.navbar-brand {
  font-weight: bold;
  color: white !important; /* Force text color to white */
}

.navbar-nav .nav-link {
  padding: 10px 15px;
  color: white !important; /* Force text color to white */
}

#home {
  background: url('/img/test-img.webp') no-repeat center center/cover;
  position: relative;
  height: 100vh;
  width: 100%;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#projects,
#about,
#contact {
  padding: 60px 0;
}

#projects h2,
#about h2,
#contact h2 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: bold;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  color: #666;
}

form .form-label {
  font-weight: bold;
}

form .form-control {
  border-radius: 0;
}

form .btn {
  background-color: #007bff;
  border-color: #007bff;
}

form .btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}